@import url('https://fonts.googleapis.com/css2?family=Karla:wght@300;400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

:root {
    --gray1: #516365;
    --gray2: #4e5062;
    --gray3: #4b4d5e;
    --gray4: #484a5a;
    --purple: rgb(110, 37, 148);
    --yellow: #ecd444;
    --white: white;
    --linear-gradient1: rgba(110 37 148 / .8);

    --text: #444;
    --transition: 1s ease;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    line-height: 1.6;
    color: var(--text);
    font-size: 16px;
    font-family: 'Karla', sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    margin: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

button {
    border: none;
    padding: 15px 30px;
    margin-top: 20px;
    font-size: 1.2rem;
    text-transform: uppercase;
    transition: var(--transition);
}

button:hover {
    cursor: pointer;
}

/********************* 
helper class
**********************/
.clearfix::after {
    display: block;
    content: '';
    clear: both;
}


/********************* 
nav
**********************/
nav {
    text-align: center;
    background: linear-gradient(to right, var(--purple), var(--yellow));
    height: 55px;
    line-height: 55px;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    margin: 30px;
    color: var(--white);
    transition: var(--transition);
}

nav ul li a:hover {
    color: var(--purple);
}

nav i {
    font-size: 2rem;
    position: relative;
    top: 4px;
    transition: var(--transition);
}

nav i:hover {
    color: var(--yellow);
}

/********************* 
header
**********************/
header {
    background-image: linear-gradient(var(--linear-gradient1), var(--linear-gradient1)), url(img/header.webp);
    padding: 200px;
    background-position: center;
    background-size: cover;
    color: var(--white);
    text-align: center;
}

header h1 {
    font-size: 4rem;
    letter-spacing: 2px;
}

header h1::after {
    display: block;
    content: '';
    height: 4px;
    width: 80px;
    background: var(--yellow);
    margin: 30px auto 40px auto;
}

header h4 {
    font-size: 1.4rem;
}

header button {
    background: var(--white);
    color: var(--purple);
}

header button:hover {
    background: var(--yellow);
}

/********************* 
about
**********************/
.about {
    color: var(--white);
}

.about article {
    width: 50%;
    float: left;
    padding: 60px;
}

.about i {
    color: var(--yellow);
    font-size: 3rem;
    margin-bottom: 20px;
}

.about h2,
.about p {
    margin-bottom: 20px;
}

.about button {
    background: transparent;
    border: 2px solid var(--yellow);
    color: var(--yellow);
    transition: var(--transition);
}

.about button:hover {
    background: var(--yellow);
    color: var(--purple);
}

/********************* 
products
**********************/
.products article {
    border-bottom: 1px solid lightgray;
}

.products h3 {
    font-size: 2rem;
    letter-spacing: 3px;
}

.products h3::after {
    display: block;
    content: '';
    height: 4px;
    width: 80px;
    background: var(--text);
    margin: 20px 0;
}

.products .row1 article:nth-child(1) {
    width: 40%;
    float: left;
    height: 50vh;
    background-image: url(img/iMac.jpg);
    background-position: center;
    background-size: cover;
}

.products .row1 article:nth-child(2) {
    width: 60%;
    float: right;
    padding: 7%;
    height: 50vh;
}

.products .row2 article:nth-child(1) {
    width: 60%;
    float: left;
    padding: 7%;
    height: 50vh;
}

.products .row2 article:nth-child(2) {
    width: 40%;
    float: right;
    height: 50vh;
    background-image: url(img/iPad.jpg);
    background-position: center;
    background-size: cover;
}

.products .row3 article:nth-child(1) {
    width: 40%;
    float: left;
    height: 50vh;
    background-image: url(img/iPhone.jpg);
    background-position: center;
    background-size: cover;
}

.products .row3 article:nth-child(2) {
    width: 60%;
    float: right;
    padding: 7%;
    height: 50vh;
}

/********************* 
cta
**********************/
.cta {
    padding: 80px;
    background: var(--yellow);
    text-align: center;
}

.cta h2 {
    font-size: 3rem;
}

.cta h2::after {
    display: block;
    content: '';
    height: 4px;
    width: 80px;
    background: var(--text);
    margin: 30px auto 40px auto;
}

.cta button {
    background: var(--purple);
    color: var(--white);
    transition: var(--transition);
}

.cta button:hover {
    background: var(--text);
}

/********************* 
footer
**********************/
footer {
    background: var(--text);
    padding: 60px;
    color: var(--white);
}

footer h3 {
    font-size: 1.4rem;
}

footer h3::after {
    display: block;
    content: '';
    height: 4px;
    width: 80px;
    background: var(--yellow);
    margin: 20px 0;
}

footer article:nth-child(1) {
    width: 60%;
    float: left;
}

footer article:nth-child(2) {
    width: 40%;
    float: right;
}

footer button {
    background: transparent;
    border: 2px solid var(--yellow);
    color: var(--yellow);
    transition: var(--transition);
}

footer button:hover {
    background: var(--yellow);
    color: var(--purple);
}

footer ul li {
    line-height: 2;
}

footer ul li a {
    color: var(--white);
}








/********************* 
RESPONSIVE
**********************/